body {
  background-color: rgba(63, 75, 78, 0.5);
}

.containerr {
  margin-bottom: 20%;
  position: relative;
}

#submit_kategorie {
  margin-bottom: 3px;
}

#nastred {
  margin:auto;
  display:block;
}
#nastred2 {
margin: auto;
width: 25%;
padding-bottom: 10px;
}
#admimOdsazeniOdkraje{
  margin-right: 17px;
}
#admimOdsazeniOdkraje2{
  margin-right: 35px;
}
#podtrzeni{
  text-decoration:underline;
}
hr{
  margin:-5px
}
#pridatSkupinuProduktu{
float:left;
border: solid 1px;
border-radius: 5px;
padding:16px;
margin-left:30%;
background-color:rgba(63, 75, 78, 0.5);
}
#pridatSamostatnyProduktu{
  float:right;
  border: solid 1px;
  border-radius: 5px;
  padding:16px;
  margin-right:30%;
  margin-left: 3px;
  background-color:rgba(63, 75, 78, 0.5);
  }
.odsazeniodkraju{
  padding-left: 20px;
  padding-right: 20px;
}

#buttonRight{
float: right;
margin-right: 5px;
}
#nahore{
  padding: 20px;
}
.spod{
  bottom:0px;
  padding-top: 30px;
  position: static;
}
#prihlaseni{
  padding-top: 5%;
}
#prihlasenibody{
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top:10%;
  padding-bottom: 25%;
  background-color: #f5f5f5;
}
#vypujcniPodminky{
  font-size: x-small;
  text-align: center;
  padding: 10px;
}

 #marginasi{
  padding-top: 30%;
}

.pridatdokosiku {
  padding-right: 20px;
}
#odsazeniodtopu{
  padding:20px;
}

.btn.btn-success {
  justify-content: center;
}

.postoupitdodokonceni {
  text-align: center;
}

table.table table-bordered {
  outline-color: black;
  border: 4px solid #000;
}

#odeslat {
  justify-content: center;
  align-content: center;
  padding: 0, 5%;
}

h1 {
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:active {
  text-decoration: none;
  color: #000;
}

.zarovnani {
  margin: 3%;

}
#selector {
  padding-left: 16px;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}